<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista</title>
</head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    

    <style>
        .card-header {
            font-style: italic;
            font-weight: bold;
        }

        .form-floating {
            margin-bottom: 2px;
        }

        .form-control{
            font-style: lighter;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
        }

        .etiqueta{
            font-weight: normal;
        }

        .busqueda{
            display: flex;
            justify-content: flex-end;
            margin-right: 30px;
        }
    </style>

<body>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" >
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">Interforest</a>
      
        <div id="navbarSearch" class="navbar-search w-100 collapse">
          <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
        </div>
      </header>

      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        <ul class="nav flex-column extend-sidebar">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                </svg>
              MONITOREO
            </a>
          </li>
        </ul>
      </div>

        <div class="busqueda">
            <div class="form-floating col-2" style="margin-right: 30px;">
                <input id="search" name="pedido" class="form-control border border-info">
                <label class="etiqueta" for="search">Ingrese #Pedido</label>
            </div>
    
            <div style="margin-right: 30px;">
                <button class="btn btn-warning"> BUSCAR</button>
            </div>
        </div>
    

      <div class="container">
        <div class="row">
            <div class="card-header text-dark fs-5">Datos Generales</div>
        
            <div class="form-floating col-6">
                <input list="cliente" id="nom_Cliente" name="nom_Cliente" class="form-control editable" contenteditable="true" placeholder="nom_Cliente">
                <datalist id="cliente"> 
                    <option></option>
                    <% results[1].forEach(function(result) { %>
                        <option data-correo="<%= result.correo%>" data-telefono="<%= result.telefono %>" data-direccion="<%= result.estado_Republica %>" data-cp="<%= result.CP %>" data-municipio="<%= result.municipio_Ciudad %>"><%= result.nom_Cliente %></option>
                    <% }); %>
                </datalist>
                <label class="etiqueta" for="nom_Cliente">Cliente</label>
           </div>

           <div class="form-floating col-2">
                <input id="lugar_Destino" name="lugar_Destino" type="text" class="form-control" placeholder="direccion">
                <label  class="etiqueta" for="lugar_Destino">Destino</label>
           </div>

           <div class="form-floating col-1">
                <input id="code_P" name="code_P" type="text" class="form-control" placeholder="CP">
                <label  class="etiqueta" for="code_P">C.P</label>
           </div>

           <div class="form-floating col-2">
                <input id="municipio" name="municipio" type="text" class="form-control" placeholder="municipio">
                <label  class="etiqueta" for="municipio">Municipio/Ciudad<label>
           </div>

           <div class="form-floating col-2">
                <input id="fecha_Inicio" name="fecha_Inicio" value="" type="date" class="form-control" placeholder="FECHA">
                <label  class="etiqueta" for="fecha_Inicio"> Fecha de Orden</label>
           </div>

           <div class="form-floating col-5">
                <input id="telefono" name="telefono" type="tel" class="form-control" placeholder="telefono">
                <label class="etiqueta" for="telefono">Telefono</label>
            </div> 

            <div class="form-floating col-5">
                <input id="correo" name="correo" type="email" class="form-control" placeholder="correo">
                <label class="etiqueta" for="correo">Correo</label>
            </div> 
            
            <div class="card-header text-dark fs-5">Orden</div>

            <div class="form-floating col-2">
                <input id="orden_Pedido" name="pedido" value="" type="text" class="form-control editable" readonly placeholder="NUM_PEDIDO">
                <label class="etiqueta" for="orden_Pedido"># de Pedido</label>
            </div> 
            <div class="form-floating col-2">
                <input id="cant_PZAS" name="cant_PZAS" type="number" class="form-control" placeholder="PIEZAS">
                <label  class="etiqueta" for="cant_PZAS">Piezas</label>
            </div>  
            <div class="form-floating col-2">
                <input id="M2" name="medida_M2" type="number" step="any" class="form-control" placeholder="M2">
                <label class="etiqueta" for="M2">M2</label>
            </div>  
            <div class="form-floating col-2">
                <input id="GA" name="GA" type="text" class="form-control" placeholder="GA">
                <label class="etiqueta" for="GA">GA</label>
            </div>  
            <div class="form-floating col-2">
                <input list="estatusList" id="estatus" name="estatus" class="form-control" placeholder="ESTATUS">
                <datalist id="estatusList">
                    <option >CREADO</option>
                    <option >EN PROCESO</option>
                </datalist>
                <label  class="etiqueta" for="estatus">Estatus</label>
            </div>  
            <div class="form-floating col-2">
                <input id="fecha_Entrega" name="fecha_Entrega" type="date" class="form-control" placeholder="FECHA_ENTREGA">
                <label  class="etiqueta" for="fecha_Entrega">Fecha Entrega</label>
            </div>

            <div class="card-header text-dark fs-5">Detalle</div>

            <div class="form-floating col-5">
                <input list="producto" id="descripcion" name="descripcion" class="form-control custom-select" placeholder="DESCRIPCION">
                <datalist id="producto">
                    <option></option>
                    <% results[2].forEach(function(result) { %>
                    <option data-value="<%= result.cod_Tab %>"><%= result.descripcion%></option>
                    <% }); %>
                </datalist>
                <label class="etiqueta" for="descripcion">Descripcion</label>
            </div>

            <div class="form-floating col-3 ms-4">
                <input id="cod_Tab" name="cod_Tab" type="text" class="form-control" placeholder="COD">
                <label  class="etiqueta" for="cod_Tab">Codigo tab</label>
            </div>
            
            <div class="form-floating col-1 ms-4">
                <input list="corteList" name="CORTE" id="corte" class="form-control" placeholder="CORTE">
                <datalist id="corteList">
                    <option></option>
                    <option>SI</option>
                    <option>NO</option>
                </datalist>
                <label class="etiqueta" for="corte">Corte</label>
            </div> 
            <div class="form-floating col-1 ms-1">
                <input list="enchapeList" name="ENCHAPE" id="enchape" type="text" class="form-control" placeholder="ENCHAPE">
                <datalist id="enchapeList">
                    <option></option>
                    <option>SI</option>
                    <option>NO</option>
                </datalist>
                <label class="etiqueta" for="enchape">Enchape</label>
            </div> 
            <div class="form-floating col-1 ms-1">
                <input list="embalajeList" name="EMBALAJE" id="embalaje" type="text" class="form-control" placeholder="EMBALAJE">
                <datalist id="embalajeList">
                    <option></option>
                    <option>SI</option>
                    <option>NO</option>
                </datalist>
                <label class="etiqueta" for="embalaje">Embalaje</label>
            </div> 

            <div class="form-floating col-2">
                <input  list="EMList" id="em" name="tipo_EM" type="text" class="form-control" placeholder="EM">
                <datalist  id="EMList">
                    <option>E1</option>
                    <option>E2</option>
                    <option>E3</option>
                    <option>E4</option>
                </datalist>
                <label class="etiqueta" for="em">EM</label>
            </div> 
            <div class="form-floating col-2">
                <input id="a1" name="canto_A1"  list="cantoA1" type="text" class="form-control" placeholder="A1">
                <datalist id="cantoA1">
                    <option></option>
                <% results[2].forEach(function(result) { %>
                    <option data-value="<%= result.id_Canto %>"> <%= result.cod_Canto%> </option>
                <% }); %>
            </datalist>
                <label class="etiqueta" for="a1">A1</label>
            </div> 
            <div class="form-floating col-2">
                <input id="a2" name="canto_A2" type="text" list="cantoA2" class="form-control" placeholder="A2">
                <datalist id="cantoA2">
                    <option></option>
                    <% results[3].forEach(function(result) { %>
                        <option data-value="<%= result.id_Canto %>"><%= result.cod_Canto%></option>
                    <% }); %>
                </datalist>
                <label class="etiqueta" for="a2">A2</label>
            </div> 
            <div class="form-floating col-2">
                <input id="l1" name="canto_L1" type="text"  list="cantoL1" class="form-control" placeholder="L1">
                <datalist id="cantoL1">
                    <option></option>
                    <% results[3].forEach(function(result) { %>
                        <option data-value="<%= result.id_Canto %>"><%= result.cod_Canto%></option>
                    <% }); %>
                </datalist>
                <label class="etiqueta" for="l1">L1</label>
            </div> 
            <div class="form-floating col-2">
                <input id="l2" name="canto_L2" type="text" list="cantoL2" class="form-control" placeholder="L2">
                <datalist id="cantoL2">
                    <option></option>
                    <% results[3].forEach(function(result) { %>
                        <option data-value="<%= result.id_Canto %>"><%= result.cod_Canto%></option>
                    <% }); %>
                </datalist>
                <label class="etiqueta" for="l2">L2</label>
            </div> 

            <div class="form-floating col-2">
                <input id="tab" name="cant_Tablero" type="number" class="form-control" placeholder="TAB">
                <label class="etiqueta" for="tab">Tab</label>
            </div>
            <div class="form-floating col-2">
                <input id="ret" name="cant_RET" type="number" class="form-control" placeholder="RET">
                <label class="etiqueta" for="ret">Ret</label>
            </div> 
            <div class="form-floating col-2">
                <input id="ml" name="medida_ML" type="number" step="any" class="form-control" placeholder="ML">
                <label class="etiqueta" for="ml">Ml</label>
            </div> 
            <div class="form-floating col-2">
                <input id="ptr" name="PTR" type="text" class="form-control" placeholder="PTR">
                <label class="etiqueta" for="ptr">Ptr</label>
            </div> 
            <div class="form-floating col-2">
                <input id="rem" name="REM" type="text" class="form-control" placeholder="REM">
                <label class="etiqueta" for="rem">Rem</label>
            </div>
            
            <div class="card-header text-dark fs-5">Transporte</div>

            <div class="form-floating col-4">
                <input list="transList" id="transporte" name="tipo_Trasporte" type="text" class="form-control" placeholder="TRANSPORTE">
                <datalist id="transList">
                    <option>CLIENTE RECOGE</option>
                    <option>LOCAL</option>
                    <option>PAQUETERIA</option>
                    <option>PAQUETERIA 3 GUERRAS</option>
                    <option>PAQUETERIA EXPRESS</option>
                    <option>PAQUTERIA POR CONFIRMAR</option>
                    <option>PAQUETERIA POTOSINOS</option>
                    <option>PITIC PAQUETERIA</option>
                    <option>PMM PAQUETERIA</option>
                    <option>RUTA</option>
                    <option>RUTA LOCAL</option>
                    <option>RUTA/CLIENTE RECOGE</option>
                    <option>SERIGRAFIA</option>
                    <option>TRES PAQUETERIA</option>
                </datalist>
                <label class="etiqueta" for="transporte">Transporte</label>
            </div>
            
            <div class="card-footer bg-transparent">
                <a href="/" type="button" class="btn btn-outline-danger">Cancelar</a>
                <button  href = "/" class=" btn btn-outline-warning" id="agregar">Agregar</button>
            </div>
      
</body>
</html>
